.lastName {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 378px;

    grid-area: lastname;

    &__title {
        margin: 0px;
        margin-bottom: 10px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;

        color: #000000;
    }

    &__input {
        padding: 0px;
        width: 100%;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;

        color: #8E8E8E;

        padding-bottom: 8px;

        border: none;
        border-bottom: 1px solid #000;

        &:focus {
            outline: none;
        }
    }
}