.time {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    width: 100%;
    max-width: calc(503px + 36px);

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    padding: 23px;

    box-sizing: border-box;

    &__title {
        margin: 0px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

        color: #000000;
    }

    &__date {
        margin: 0px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;

        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #3BB33B;
    }
}