.button {
    display: flex;
    align-items: center;
    column-gap: 30px;

    grid-area: button;

    &__save {
        padding: 12px 20px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;

        color: #000000;

        background-color: #FFC56F;
        border: unset;
        border-radius: 10px;

        cursor: pointer;
    }

    &__cancel {
        margin: 0px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-decoration-line: underline;

        color: #000000;

        cursor: pointer;
    }
}

@media screen and (max-width: 360px){
    .button{
        flex-direction: column;
        align-items: flex-start;

        row-gap: 30px;
    }
}