.visit {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;

    width: 100%;
    max-width: 625px;
    min-width: 320px;

    margin: 0 auto;

    padding: 50px;
    border-radius: 20px;

    position: relative;

    &__close{
        position: absolute;
        top: 40px;
        right: 100px;

        width: 54px;
        height: 54px;

        border: 1px solid #000000;
        border-radius: 50%;

        background-color: transparent;

        background-image: url(../assets/close.svg);
        background-repeat: no-repeat;
        background-position: center;

        cursor: pointer;
    }

    &__header {
        margin: 0px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;

        color: #000000;
    }

    &__title {
        margin: 0px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

        color: #000000;
    }
}



@media screen and (max-width:625px){
    .visit{

        &__close{
            right: 50px;
        }
    }
}

@media screen and (max-width:420px){
    .visit{

        &__header{
            width: 100%;
        }
        &__close{
            right: 16px;
        }
    }
}