.description {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    grid-area: description;

    &__title {
        margin: 0px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;

        color: #000000;
    }

    &__input {
        padding: 0px;
        width: 100%;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;

        color: #8E8E8E;

        padding-bottom: 8px;

        border: none;
        border-bottom: 1px solid #000;

        &:focus {
            outline: none;
        }
    }

    &__text {
        margin: 0px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;

        color: #000000;
    }

    &__paragraf {
        width: 100%;
        max-width: 562px;

        margin: 0px;

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;

        color: #383838;

        padding: 20px;

        border: 1px solid #383838;
        border-radius: 20px;

        box-sizing: border-box;
    }
}